<mat-nav-list>
    <div *ngIf="authSRV.hasRole('ROLE_ADMIN')">
    <h2 matSubheader>Préstamos</h2>

    <a  mat-list-item
        routerLinkActive="list-item-active"
        routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Inicio
    </a>

    <a  mat-list-item
        routerLinkActive="list-item-active"
        routerLink="/prestamos">
        <mat-icon>credit_card</mat-icon>
        Control de préstamos
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Maestros</h2>

    <a  mat-list-item
        routerLinkActive="list-item-active"
        routerLink="/clientes">
        <mat-icon>account_box</mat-icon>
        Clientes
    </a>

    <a  mat-list-item
        routerLinkActive="list-item-active"
        routerLink="/intermediarios">
        <mat-icon>record_voice_over</mat-icon>
        Intermediarios
    </a>
    </div>
</mat-nav-list>
