<mat-nav-list>

    <h2 matSubheader>Páginas</h2>
    
    <a  mat-list-item 
        routerLinkActive="list-item-active"
        routerLink="/">
        <mat-icon>home</mat-icon>
        Inicio
    </a>
    
    <a  mat-list-item 
        routerLinkActive="list-item-active"
        routerLink="/page01">
        <mat-icon>trending_up</mat-icon>
        Página 01
    </a>
    
    <a  mat-list-item 
        routerLinkActive="list-item-active"
        routerLink="/page02">
        <mat-icon>contacts</mat-icon>
        Página 02
    </a>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Maestros</h2>

    <a  mat-list-item 
        routerLinkActive="list-item-active"
        routerLink="/maestro01">
        <mat-icon>backup</mat-icon>
        Maestro 01
    </a>

    <a  mat-list-item 
        routerLinkActive="list-item-active"
        routerLink="/maestro02">
        <mat-icon>calendar_today</mat-icon>
        Maestro 02
    </a>

</mat-nav-list>
