<div class="container-fluid">

  <div class="card" *ngFor="let prestamo of lstPrestamos">
    <div class="card-body">
      <h5 class="card-title">Prestamo: {{prestamo.id}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{prestamo.cliente.nombre}} {{prestamo.cliente.apellidos}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{prestamo.intermediario?.nombre}} {{prestamo.intermediario?.apellidos}}</h6>
        <dl class="row">
          <dt class="col-6">Importe</dt>
          <dd class="col-5 text-right">{{prestamo.importe}} €</dd>
          <dt class="col-6">Importe inicial</dt>
          <dd class="col-5 text-right">{{prestamo.importeInicial}} €</dd>
          <dt class="col-6">Fecha inicio</dt>
          <dd class="col-5 text-right">{{prestamo.fechaIni}}</dd>
          <dt class="col-6">Mensualidad</dt>
          <dd class="col-5 text-right">60,00 €</dd>
        </dl>
    </div>
  </div>

</div>
