footer {
    padding: 10px;
}

.txt-copy {
    font-size: 0.7em;
}

.txt-version {
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 0.25em;
}

.num-version {
    font-size: 0.7em;
    font-weight: lighter;
}
