
<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div  fxFlex="19.5" 
        fxFlex.lt-xs="100"
        >
        <app-infocard
          label="Nº Préstamos"
          data = 5
          state = "info"
        >
        </app-infocard>
  </div>

  <div  fxFlex="19.5" 
        fxFlex.lt-xs="100"
        >
    <app-infocard
    label="Importe prestado"
    data = "2500 €"
    state = "info"
    >
    </app-infocard>
  </div>

  <div  fxFlex="19.5" 
        fxFlex.lt-xs="100"
        >
    <app-infocard
    label="Importe intereses"
    data = "150 €"
    state = "info"
    >
    </app-infocard>
  </div>

  <div  fxFlex="19.5" 
        fxFlex.lt-xs="100"
        >
    <app-infocard
    label="Interes mensual"
    data = "100 €"
    state = "warning"
    >
    </app-infocard>
  </div>

  <div  fxFlex="19.5" 
        fxFlex.lt-xs="100"
        >
    <app-infocard
    label="Intereses acum."
    data = "900 €"
    state = "info"
    >
    </app-infocard>
  </div>

</div>
