.navigation {
    padding: 5px;
}

.breadcrumb {
    display: inline-block;
    background: none;
    font-size: 0.8em;
    margin: 0;
    width: 50%;
    a,
    span {
      color: darkgrey;
    }
    a:hover,
    span:hover {
      color: dimgrey;
      text-decoration: none;
    }
    ul{
        display: inline-block;
        margin: 0;
    }
    li {
      list-style: none;
      float: left;
      margin: 0px;
    }
    li:last-child {
      margin-right: 20px;
    }
    .activePage {

    }
}

.botonera {
    display: inline-block;
    width: 45%;
    text-align: right;
}