<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Prestamos</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
                <li class="breadcrumb-item active">Prestamos</li>
            </ol>
            </div>
        </div>
        </div>
    </section>
    <section class="content">
      <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <div class="card-title">PRÉSTAMOS</div>
              
              <div class="card-buttons">
                <button class="btn btn-table" 
                        [disabled]="idsSeleccionados.length != 0"
                        (click) = "openModalPrestamos()"
                >
                  Nuevo
                </button>
                <button class="btn btn-table" 
                        [disabled]="idsSeleccionados.length != 1"
                        (click) = "openModalPrestamos()"
                >
                  Modificar
                </button>
                <button class="btn btn-danger" 
                        [disabled]="idsSeleccionados.length == 0">
                  Eliminar
                </button>
              </div>

              <div class="btn-group">
                <button type="button" 
                        class="btn btn-default dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-expanded="false">
                </button>
                <ul class="dropdown-menu" 
                    x-placement="bottom-start" 
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-10px, 38px, 0px);"
                >
                  <li>
                    <button class="dropdown-item"
                      [disabled]="idsSeleccionados.length != 0"
                      (click) = "openModalPrestamos()"
                    >
                      Nuevo
                  </button>
                  </li>
                  <li>
                    <button class="dropdown-item" 
                      [disabled]="idsSeleccionados.length != 1"
                      (click) = "openModalPrestamos()"
                    >
                      Modificar
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item"
                            [disabled]="idsSeleccionados.length == 0"
                    >
                      Eliminar
                    </button>
                  </li>
                </ul>
              </div>
            
            </div>
            <div class="card-body">
              <table #dataTable
                      id="tblPrestamos"
                      class="table table-hover"
                      style="width:100%">
                <thead></thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
      </div>
    </section>
</div>

<div class="modal fade" id="mdlPrestamos" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Título modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmPrestamo" novalidate>
          <div class="row">
            <div class="col-sm-12 col-lg-3">
              <div class="form-group">
                <label>Fecha Inicio</label>
                <input type="text" 
                        id="fechaIniIn"
                        formControlName="fechaIniIn"
                        class="form-control" 
                        data-inputmask-alias="datetime" 
                        data-inputmask-inputformat="dd/mm/yyyy" 
                        data-mask="" 
                        im-insert="false"
                        [ngClass]="{'is-invalid': f.fechaIniIn.invalid && statusSubmited}"
                >
                <div *ngIf="!f.fechaIniIn.valid && statusSubmited">
                  <span class="text-invalid">La fecha inicial no puede ser nula</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-3">
              <div class="form-group">
                <label>Fecha Final</label>
                <input type="text"
                      id="fechaFinIn"
                      formControlName="fechaFinIn"
                      class="form-control fecha" 
                      data-inputmask-alias="datetime" 
                      data-inputmask-inputformat="dd/mm/yyyy" 
                      data-mask="" 
                      im-insert="false"
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-lg-3">
              <div class="form-group">
                <label>Importe</label>
                <input type="text"
                      id="importeIn" 
                      formControlName="importeIn"
                      class="form-control number"
                      [ngClass]="{'is-invalid': f.importeIn.invalid}"
                >
                <div *ngIf="!f.importeIn.valid">
                  <span class="text-invalid">Importe de al menos 100€</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-3">
              <div class="form-group">
                <label>Importe Inicial</label>
                <input type="text"
                      id="importeInicialIn"
                      formControlName="importeInicialIn"
                      class="form-control number" 
                      [ngClass]="{'is-invalid': f.importeInicialIn.invalid}"
                >
                <div *ngIf="!f.importeInicialIn.valid">
                  <span class="text-invalid">Importe de al menos 100€</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-3">
              <div class="form-group">
                <label>Interes</label>
                <input type="text" 
                      id="interesIn"
                      formControlName="interesIn"
                      class="form-control number" 
                      [ngClass]="{'is-invalid': f.interesIn.invalid}"
                >
                <div *ngIf="!f.interesIn.valid">
                  <span class="text-invalid">Interes al menos 4%</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-3">
              <div class="form-group">
                <label>Día Pago</label>
                <input type="text" 
                      id="diaIn"
                      formControlName="diaIn"
                      class="form-control number" 
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label>Intermediario</label>
                <select class="form-control" 
                        name="intermediarioIn"
                        id="intermediarioIn"
                        formControlName="intermediarioIn"
                        style="width: 100%;" 
                        tabindex="-1" 
                        aria-hidden="true"
                >
                  <option *ngFor="let intermediario of lstIntermediarios; let i = index" 
                          [ngValue]="intermediario" 
                          [selected]="intermediario.id == selectedIntermediario.id">
                    {{ intermediario.nombre }} {{ intermediario.apellidos }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label>Cliente</label>
                <select class="form-control" 
                        name="clienteIn"
                        id="clienteIn"
                        formControlName="clienteIn"
                        style="width: 100%;" 
                        tabindex="-1" 
                        aria-hidden="true"
                >
                  <option *ngFor="let cliente of lstClientes; let i = index" 
                          [ngValue]="cliente"
                          [selected]="cliente.id == selectedCliente.id">
                    {{ cliente.nombre }} {{ cliente.apellidos }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="form-group">
                <label>Estado</label>
                <select class="form-control" 
                        name="estadoIn"
                        id="estadoIn"
                        formControlName="estadoIn"
                        style="width: 100%;" 
                        tabindex="-1" 
                        aria-hidden="true"
                >
                  <option *ngFor="let estado of lstEstadosPrestamo; let i = index" 
                          [ngValue]="estado"
                          [selected]="estado.id == selectedEstadoPrestamo.id">
                    {{ estado.descripcion }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="savePrestamo()">Guardar</button>
      </div>
    </div>
  </div>
</div>




