table {
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-cell {
    font-size: 0.7em;
  }
  
  .mobile-label {
    display: none;
  }
  
  .highlight{
    background: rgb(218, 218, 219);
    cursor:pointer;
  }
  
  .nodata {
    padding: 20px;
    text-align: center;
    font-size: 0.75em;
    color: #8b8a8a;
  }
  
  .info-prestamo {
    margin-bottom: 10px;
    color: #a0a0a0;
  }
  
  .info-prestamo .mat-card-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #777777;
  }
  
  .item-info-prestamo {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #666666;
  }
  
  .item-key-prestamo {
    font-weight: bold;
    width: 25%;
    display: inline-block;
    font-size: 0.85em;
  }
  
  .item-value-prestamo {
    display: inline-block;
    font-size: 0.8em;
  }
  
  @media (min-width: 1281px) {
  
    //CSS
  
  }
  
  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  
    //CSS
  
  }
  
  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
    //CSS
  
  }
  
  /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    //CSS
  
  }
  
  /*
    ##Device = Tablets, Mobiles (Landscape)
  */
  
  @media (min-width: 426px) and (max-width: 767px) {
  
    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  
    .table-container {
      margin-bottom: 20px;
    }
  
  }
  
  /*
    ##Device = Mobile 
  */
  
  @media (min-width: 320px) and (max-width: 425px) {
  
    .mobile-label {
      width:40%;
      display: inline-block;
      font-weight: bold;
      text-align: left;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  
    .mat-cell {
      font-size: 1em;
      width: 100%;
    }
  
    mat-cell:first-of-type {
      padding: 0;
    }
  
    .table-container {
      margin-bottom: 20px;
    }
  }
  
  
  