<div class="breadcrumb">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
</div>

<div class="container"
    fxLayout="row"
    fxLayout.lt-md="row"
    fxLayoutWrap fxLayoutGap="0.5%"
    fxLayoutAlign="center">

    <div  fxFlex="90"
          fxFlex.lt-xs="100"
        >
      <p-messages [(value)]="msgs"></p-messages>

      <div class="botonera">
          <div class="left">
          &nbsp;
          </div>
          <div class="right">
            <button type="button" 
                    (click)="mdlPrestamoShow($event)" 
                    [disabled]="selectedChecks.length != 0"
                    pButton 
                    class="ui-button-info"
                    icon="pi pi-plus-circle" 
                    label="Nuevo">
            </button>
            <button type="button" 
                    (click)="mdlPrestamoShow($event)"
                    [disabled]="selectedChecks.length != 1"
                    pButton 
                    class="ui-button-info"
                    icon="pi pi-pencil" 
                    label="Editar">
            </button>
            <button type="button" 
                    (click)="deletePrestamos()"
                    [disabled]="selectedChecks.length == 0"
                    pButton 
                    class="ui-button-danger"
                    icon="pi pi-trash" 
                    label="Eliminar">
            </button>
          </div>
      </div>
      <table #dataTable id="tblPrestamos" class="display nowrap" style="width:100%">
      </table>
    </div>
</div>

<p-dialog
  [(visible)]="mdlPrestamo"
  [baseZIndex]="10000"
  [modal]="true"
  [draggable]="false" 
  [resizable]="false"
  styleClass="mdlPrestamo"
>
  <p-header>
    Añadir nuevo prestamo
  </p-header>
    <div class="p-grid">
      <div class="p-col-12 p-md-3">
        <div class="v2l-inputgroup">
          <label for="fInicio">Fecha Inicio</label>
          <input type="text" 
                  id="fInicio" 
                  pInputText 
                  [(ngModel)]="selectedPrestamo.fechaIni"
          >
        </div>
      </div>
      <div class="p-col-12 p-md-3">
        <div class="v2l-inputgroup">
          <label for="fFinal">Fecha Final</label>
          <input type="text" 
                  id="fFinal" 
                  pInputText 
                  [(ngModel)]="selectedPrestamo.fechaFin"
          >
        </div>
      </div>
      <div class="p-col-12 p-md-3">
        <div class="v2l-inputgroup">
          <label for="importe">Importe</label>
          <input type="text" 
                  id="importe" 
                  pInputText 
                  [(ngModel)]="selectedPrestamo.importe"
          >
        </div>
      </div>
      <div class="p-col-12 p-md-3">
        <div class="v2l-inputgroup">
          <label for="importeInicial">Importe inicial</label>
          <input type="text" 
                  id="importeInicial" 
                  pInputText 
                  [(ngModel)]="selectedPrestamo.importeInicial"
          >
        </div>
      </div>
      <div class="p-col-12 p-md-2">
        <div class="v2l-inputgroup">
          <label for="interes">Interes</label>
          <input type="text" 
                  id="interes" 
                  pInputText 
                  [(ngModel)]="selectedPrestamo.interes"
          >
        </div>
      </div>
      <div class="p-col-12 p-md-5">
        <div class="v2l-inputgroup">
          <label for="intermediario">Intermediario</label>
          <p-dropdown [options]="lstIntermediarios" 
                      [(ngModel)]="selectedPrestamo.intermediario" 
                      optionLabel="nombre">
          </p-dropdown>
        </div>

      </div>
      <div class="p-col-12 p-md-5">
        <div class="v2l-inputgroup">
          <label for="cliente">Cliente</label>
          <p-dropdown [options]="lstClientes" 
                      [(ngModel)]="selectedPrestamo.cliente" 
                      optionLabel="nombre">
          </p-dropdown>
        </div>
      </div>
    </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="savePrestamo()" label="Aceptar"></button>
    <button type="button" pButton icon="pi pi-times" (click)="discardPrestamo()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

  