.breadcrumb {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.botonera{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.botonera .left{
    display: inline-block;
    width: 50%;
}

.botonera .right{
    display: inline-block;
    width: 50%;
}

.botonera .right button{
    float: right;
}


@media only all {

}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {

}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {

}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {

}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {

}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {

}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {

}
