<div class="container"
    fxLayout="row"
    fxLayout.lt-md="row"
    fxLayoutWrap fxLayoutGap="0.5%"
    fxLayoutAlign="center">

    <div  fxFlex="90"
          fxFlex.lt-xs="100"
        >

        <div class="breadcrumb">
          <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>

        <div class="botonera">
            <div class="left">
            &nbsp;
            </div>
            <div class="right">
              <button type="button" (click)="addNewCliente($event)" pButton icon="pi pi-plus-circle
              " label="Nuevo"></button>
            </div>
        </div>
        <table #dataTable class="display nowrap" style="width:100%">
        </table>

    </div>

</div>

<p-dialog
  [(visible)]="mdlCliente"
  >
  <p-header>
    Header content here
  </p-header>
    Content
  <p-footer>
    buttons
  </p-footer>
</p-dialog>
